{% extends "layout.html" %}

{% if mode == "new" %}
  {% set page_title = "Uusi ilmoitus" %}
  {% set editor_target = "/do-new-post" %}
  {% set submit_text = "Luo ilmoitus" %}
{% elif mode == "edit" %}
  {% set page_title = "Muokkaa ilmoitusta" %}
  {% set editor_target = "/do-edit-post/"~post.id %}
  {% set submit_text = "Muokkaa" %}
{% endif %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
  <h1>{{ page_title }}</h1>
  <form action="{{ editor_target }}" method="post">
    <p>
      Käyttäjänimi: <b>{{ session.username }}</b>
    <p>
      <label for="item_field">Lainattava tavara</label>:<br/>
      <input id="item_field" type="text" name="item" maxlength="50" required value="{{ item_value }}"/>
    </p>
    <p>
      <label for="info_field"> Lisätiedot</label>:<br/>
      <textarea id="info_field" name="info" maxlength="1000">{{ info_value }}</textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="submit" value="{{ submit_text }}"/>
  </form>
</body>
{% endblock %}