{% extends "layout.html" %}

{% block title %}Kirjaudu{% endblock %}

{% block content %}
<h1>Kirjaudu</h1>
<form action="/do-login" method="post">
    <p>
        <label for="username_field">Käyttäjänimi</label>:<br/>
        <input id="username_field" type="text" name="username" required/>
    </p>
    <p>
        <label for="password_field">Salasana</label>:<br/>
        <input id="password_field" type="password" name="password" required/>
    </p>
    <input type="submit" value="Kirjaudu"/>
</form>
{% endblock %}