{% extends "layout.html" %}

{% block title %}Uusi ilmoitus{% endblock %}

{% block content %}
  <h1>Uusi ilmoitus</h1>
  <form action="/posts" method="post">
    <p>
      Käyttäjänimi: <b>{{ session.username }}</b>
    <p>
      Lainattava tavara: <br/>
      <input type="text" name="item" maxlength="50" required/>
    </p>
    <p>
      Lisätiedot: <br/>
      <textarea name="info" maxlength="1000"></textarea>
    </p>
    <input type="submit" value="Luo ilmoitus"/>
  </form>
</body>
{% endblock %}