{% extends "layout.html" %}

{% block title %}Ilmoitukset{% endblock %}

{% block content %}
<h2>Ilmoitukset</h2>
<p>
    <a href="/new-post">Luo ilmoitus</a>
</p>
<hr/>
<form action="/posts">
    <input type="search" name="query" value="{{ query }}"/>
    <input type="submit" value="Hae">
</form>
<p>
    Löydettyjä ilmoituksia: {{ count }}
</p>
<table>
<thead>
    <tr>
        <td>Ilmoittaja</td>
        <td>Lainattava asia</td>
    </tr>
</thead>
{% for post in posts %}
    <tr>
        <td>
            <a href="/users/{{ post['author'] }}">{{ post["author_name"] }}</a>
        </td>
        <td>
           <a href="/posts/{{ post['id'] }}">{{ post["item"] }}</a>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}