{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä {{ user.username }}</h2>
<h3>Käyttäjän tilastot</h3>
<dl>
    <dt>Aktiivisia ilmoituksia</dt>
    <dd>{{ post_count }}</dd>

    <dt>Varauksia tehty</dt>
    <dd>{{ reservation_count }}</dd>
</dl>
<h3>Käyttäjän ilmoitukset</h3>
<table>
<thead>
    <tr>
        <th>Lainattava asia</th>
    </tr>
</thead>
{% for post in posts %}
    <tr>
        <td>
           <a href="/posts/{{ post.id }}">{{ post.item }}</a>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}